absl-py==1.4.0
adb==1.3.0
aiodns==3.0.0
aiohttp==3.8.3
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.1
Babel==2.15.0
backcall==0.2.0
backports.zoneinfo==0.2.1
Backtesting==0.3.3
base58==2.1.1
beautifulsoup4==4.12.2
bidict==0.23.1
bitarray==2.6.2
bleach==6.1.0
blinker==1.7.0
bokeh==3.1.1
bs4==0.0.1
cached-property==1.5.2
cachetools==5.3.0
cattrs==22.2.0
ccxt==3.0.70
certifi==2022.12.7
cffi==1.14.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
cryptography==2.8
cssselect==1.2.0
cycler==0.11.0
cytoolz==0.12.1
debugpy==1.6.5
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distro==1.9.0
dnspython==2.6.1
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.3.3
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
etherscan==0.3.0
etherscan-python==2.1.0
exceptiongroup==1.1.1
executing==1.2.0
fake-useragent==1.4.0
fastjsonschema==2.19.1
feedparser==6.0.11
filelock==3.13.1
Flask==2.3.2
Flask-PyMongo==2.3.0
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==3.1.1
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozendict==2.3.10
frozenlist==1.3.3
fsspec==2024.3.1
fuzzywuzzy==0.18.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.51.3
h11==0.14.0
h5py==3.8.0
hexbytes==0.2.3
html5lib==1.1
httpcore==1.0.3
httpx==0.26.0
huggingface-hub==0.25.1
idna==3.4
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==5.10.2
inflect==5.3.0
intel-openmp==2021.4.0
ipfshttpclient==0.8.0a2
ipykernel==6.20.1
ipython==8.8.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==7.4.8
jupyter_core==5.1.3
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
keras==2.11.0
keyboard==0.13.5
keyboardsounds==5.4.0
kiwisolver==1.4.4
libclang==15.0.6.1
librosa==0.8.1
libusb1==3.0.0
llvmlite==0.39.1
lru-dict==1.1.8
lxml==4.9.2
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
MouseInfo==0.1.3
mpmath==1.3.0
multiaddr==0.0.9
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==0.4.3
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.6
netaddr==0.8.0
networkx==3.1
nltk==3.9.1
notebook==7.2.0
notebook_shim==0.2.4
numba==0.56.4
numpy==1.20.3
oauthlib==3.2.2
openai==1.3.3
openpyxl==3.1.0
opt-einsum==3.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.0
pandas==1.5.3
pandas-datareader==0.10.0
pandocfilters==1.5.1
parse==1.20.0
parsimonious==0.8.1
parso==0.8.3
peewee==3.17.0
pickleshare==0.7.5
Pillow==8.4.0
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
pooch==1.8.1
prometheus_client==0.20.0
prompt-toolkit==3.0.36
protobuf==3.19.5
psutil==5.9.4
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pycares==4.3.0
pycparser==2.19
pycryptodome==3.16.0
pydantic==2.6.1
pydantic_core==2.16.2
pydeck==0.8.1b0
pyee==8.2.2
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.14.0
pymongo==4.9.1
PyMsgBox==1.0.9
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pynndescent==0.5.12
pynput==1.7.6
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
pyppeteer==1.0.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyquery==2.0.0
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.30
pysha3==1.0.2
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-engineio==4.9.0
python-json-logger==2.0.7
python-socketio==5.11.1
pytweening==1.0.7
pytz==2022.7.1
pywin32
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.0.0
referencing==0.35.1
regex==2023.6.3
reportlab==3.6.12
requests==2.31.0
requests-cache==1.0.1
requests-html==0.10.0
requests-oauthlib==1.3.1
resampy==0.4.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rlp==2.0.1
rpds-py==0.18.1
rsa==4.9
safetensors==0.4.5
scikit-learn==1.0.2
scipy==1.7.3
selenium==4.13.0
semantic-version==2.10.0
Send2Trash==1.8.3
sgmllib3k==1.0.0
simple-websocket==1.0.0
six==1.14.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.3
SoundFile==0.10.3.post1
soupsieve==2.5
SQLAlchemy==2.0.35
stack-data==0.6.2
streamlit==1.29.0
sympy==1.12
tabulate==0.9.0
tbb==2021.12.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.4.0
tinycss2==1.3.0
tinydb==3.15.2
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.3.0
torchaudio==2.3.0
torchfile==0.1.0
torchvision==0.18.0
tornado==6.2
tqdm==4.62.3
traitlets==5.8.1
trie==2.0.0a5
trio==0.23.2
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
umap-learn==0.5.2
Unidecode==1.3.2
uniswap-python==0.6.2
uri-template==1.3.0
url-normalize==1.4.3
urllib3==1.26.7
validators==0.22.0
varint==1.0.2
vertexai==0.0.1
virtualenv==20.23.0
visdom==0.1.8.9
w3lib==2.1.2
watchdog==3.0.0
wcwidth==0.2.5
web3==5.31.3
webcolors==1.13
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.8.0
websockets==9.1
Werkzeug==2.3.6
Wikipedia-API==0.6.0
wrapt==1.15.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.0.8
xlwt==1.3.0
xyzservices==2023.10.1
yahoo-fin==0.8.9.1
yarl==1.8.2
yfinance==0.2.33
zipp==3.11.0
